<div id="board"><%= erb :_board %></div>
<%= erb :_clue %>
<%= erb :_daily_double %>
<%= erb :_double_jeopardy %>

<% content_for :javascript do %>
  <script type="text/javascript" src="javascripts/vendor/jquery-1.8.2.js"></script>
  <script type="text/javascript" src="javascripts/vendor/underscore-min.js"></script>
  <script type="text/javascript" src="javascripts/vendor/backbone.js"></script>
  <script type="text/javascript" src="javascripts/namespace.js"></script>
  <script type="text/javascript" src="javascripts/game-board.js"></script>
<% end %>

<script type="text/javascript">
  var roundOneInfo = <%= round_one %>;
  var roundTwoInfo = <%= round_two %>;

  var endRoundTwo = function() {
  };

  var endRoundOne = function() {
    gameView.reset(roundTwoInfo);
    gameView.endGame = endRoundTwo;
    $(gameView.el).html(gameView.doubleJeopardyTemplate());
  };

  var gameView = new Jeopardy.GameBoard({
    el: '#board',
    boardInfo: roundOneInfo,
    endGame: endRoundOne
  });

  gameView.showBoard();
</script>
